<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.wisetracker">

    <!-- Target SDK 28 이상시 application 태그에 아래 값을 설정하여 추가해 주세요. -->
    <!-- android:networkSecurityConfig="@xml/network_security_config" -->
    <application>

        <!-- 딥링크로 사용될 값을 직접 수정해 주세요. -->
        <activity
            android:name="kr.co.wisetracker.DeepLinkActivity"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 딥링크로 진입될 스키마와 호스트 정보 입력 -->
                <data
                    android:host="YOUR_HOST"
                    android:scheme="YOUR_SCHEME" />
            </intent-filter>

        </activity>

        <!-- 개발용 true 배포용 false 권장 -->
        <meta-data
            android:name="WiseTrackerLogState"
            android:value="true" />

        <meta-data
            android:name="WiseTrackerKey"
            android:value="YOUR_APP_KEY" />

    </application>
    
</manifest>
